//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #048cdb;
$info: #69DADB;
$warning: #F0A500;
$success: #54B435;


body {
  // font-family: "Dongle";
  // font: 0.857em "Nunito", sans-serif;
  // font-size: "14pt";
  font-family: 'Nunito', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.857rem;
}
