//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #048cdb;
$info: #159895;
$warning: #F0A500;
$success: #609966;


body {
  font-family: "Nunito";
  font-size: 10pt;
}
