//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #048cdb;


body {
  font-family: "Rubik";
  font-size: 11pt;
}